*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  margin: 5px;
}

.card{
  width: 15rem;
  border: 0px white solid !important;
  margin: 10px;
  padding: 2px;
  color: #23376E;

  /* background-image: linear-gradient(to bottom right, #fbbb86c5, #f06da8c5); */

  background-image: linear-gradient(to bottom   right, #ffffff, #ffffee);
  transition: transform 250ms;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;

}

.card:hover{
  background-image: linear-gradient(to bottom right, #fbbb86c5, #f06da8c5);
  transform: translateY(-10px);
}

.circle{
  height: 50px;
  width: 50px;
  border-radius: 50%;

  background-image: linear-gradient(to bottom right, #fbbb86c5, #f06da8c5);
}

.card-temp{
  
  font-size: 3.5rem;
}

.card-outlook{
  font-size: .95rem;
  font-weight: 900;
  color: white;
  background-color: lightgrey;
  border-radius: 25px;
  
  padding: 5px 10px 5px 10px;
  width:45%;
  text-align: center;
}

.card-outlook-sunny{
  background-color: #FBBA86;
  background-image: url('./img/sun-03.png');
}


.card-outlook-rainy{
  background-color: lightblue;
  background-image: url('./img/rain-03.png');
}

.card-outlook-cloudy{
  background-color: lightblue;
  background-image: url('./img/cloud-03.png');
}

.card-wind{
  font-size: .8rem;
  font-weight: 800;
}

.detail-button{
  background-color: #FBBA86 !important;
  border: 2px solid #FBBA86 !important;
}

.detail-button:hover{
  background-color:#23376E !important;
  border: 2px solid #23376E !important;
}